<header>

    <nav> 
        <a id="home" href="*">עמוד הבית</a>
        <a id="Staff" href="*">צוות הפותרים</a>
        <a id="solutions" href="*">פתרונות מה"ט</a>
    </nav>
    <img src="/images/kinneret.png" />
    
</header>